@charset "utf-8";
body{
  background-color: rgb(80,80,80);
  color: aliceblue;
}

a{
  color: aliceblue;
  text-decoration: none;
}

a:hover{
  transition: 0.4s;
  color: white;
}

.simple{
  position: absolute;
  left: 500px;
  top: 150px;
  font-size: 40px;
}
.simpao img{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 23%;

}
.gordao img{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 35%;
  right: 23%;
}
